In [1]:
import statistics

In [2]:
data1=[45,42,42,43,40]
data2=[54,48,42,33,33]

In [3]:
statistics.mean(data1)

42.4

In [4]:
statistics.mean(data2)

42

In [8]:
 #Range
max(data1)-min(data1)

5

In [6]:
max(data2)-min(data2)

21

In [9]:
statistics.variance(data1)

3.3000000000000003

In [10]:
statistics.variance(data2)

85.5

In [11]:
#Standard Deviation
statistics.pstdev(data1)

1.624807680927192

In [12]:
statistics.pstdev(data2)

8.270429251254134

In [13]:
#Using seaborn inbuilt data
import seaborn as sns
import pandas as pd

In [14]:
df=sns.load_dataset("mpg")

In [15]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320

In [18]:
#Range
df["mpg"].max()-df["mpg"].min()

37.6

In [19]:
df["weight"].max()-df["weight"].min()

3527

In [20]:
statistics.variance(df["mpg"])

61.08961077427439

In [21]:
statistics.mean(df["mpg"])

23.514572864321607

In [22]:
statistics.pstdev(df["mpg"])

7.806159061274432

In [23]:
statistics.mean(df["weight"])

2970.424623115578

In [24]:
statistics.pstdev(df["weight"])

845.7772335198174

In [25]:
df["weight"].max()

5140

In [26]:
df["weight"].min()

1613

In [27]:
age = [20,25,40,50,55,60,62]

In [31]:
Q2=statistics.median(age)

In [32]:
Q2

50

In [33]:
#Quartiles : 25%- Q1
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [46]:
data1=[45,42,42,43,40]
data2=[54,48,42,33,33]

Coefficient of variation = 
(SD/Mean)*100

In [36]:
#Coefficient of variation
cov1 = statistics.pstdev(data1)/statistics.mean(data1)
cov2 = statistics.pstdev(data2)/statistics.mean(data2)

In [37]:
cov1 #having less variable values

0.03832093587092434

In [38]:
cov2

0.19691498217271747

In [39]:
cov1*100

3.832093587092434

In [40]:
cov2*100

19.691498217271747

In [42]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320

In [43]:
statistics.pstdev(df["mpg"])/statistics.mean(df["mpg"])*100

33.19711187745463

In [45]:
statistics.pstdev(df["weight"])/statistics.mean(df["weight"])*100

28.47327708429478

Coefficient of Quartile Deviation= (Q3-Q1)/(Q3+Q1)

In [47]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000