In [2]:
import requests
from bs4 import BeautifulSoup
link = "https://books.toscrape.com/catalogue/page-1.html"

In [3]:
res = requests.get(link)
soup = BeautifulSoup(res.text,"html.parser")

In [14]:
from tqdm import tqdm
data = []
# Going through each page one by one
for page in tqdm(range(1,51)):
    # Creating link for each page
    link = 'https://books.toscrape.com/catalogue/page-'+ str(page) + ".html"
    # Getting response
    res = requests.get(link)
    # Creating the soup for that page
    soup = BeautifulSoup(res.text,'html.parser')
    # Extracting book_link,title, img_link, rating, availability,book_price of all 20 books in the 1st page

    # No. of books per page
    for sp in soup.find_all('li',class_ = "col-xs-6 col-sm-4 col-md-3 col-lg-3"):
        # Extracting the last anchor tag
        # Extracting book_link to each book
        book_link = 'https://books.toscrape.com/catalogue/'+ sp.find_all('a')[-1].get('href')
        # Extracting title of each book
        title = sp.find_all('a')[-1].get('title')
        # Extracting img_link for each book
        img_link = 'https://books.toscrape.com/'+ sp.find('img').get('src')[2:]
        # Rating given to each book
        rating = sp.find("p").get('class')[-1]
        # Check if book is in stock or not
        availability = sp.find('p',class_="instock availability").text.strip()
        # Extract price of each book
        book_price = sp.find('p',class_='price_color').text[1:]
        # Saving scraped data in a list
        data.append((title,rating,availability,book_price,book_link,img_link))

100%|███████████████████████████████████████████| 50/50 [01:22<00:00,  1.65s/it]

In [21]:
data[-1]

('1,000 Places to See Before You Die',
 'Five',
 'In stock',
 '£26.08',
 'https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html',
 'https://books.toscrape.com//media/cache/d7/0f/d70f7edd92705c45a82118c3ff6c299d.jpg')

In [20]:
len(data)

1000

In [16]:
import pandas as pd
df = pd.DataFrame(data,columns = ['title','rating','availability','book_price','book_link','img_link'])

In [18]:
df.head()

,title,rating,availability,book_price,book_link,img_link
0,A Light in the Attic,Three,In stock,£51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com//media/cache/2c/da/...
1,Tipping the Velvet,One,In stock,£53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com//media/cache/26/0c/...
2,Soumission,One,In stock,£50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com//media/cache/3e/ef/...
3,Sharp Objects,Four,In stock,£47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com//media/cache/32/51/...
4,Sapiens: A Brief History of Humankind,Five,In stock,£54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com//media/cache/be/a5/...

In [19]:
df.to_csv('1000_BookDetails.csv',index=False)