In [2]:
import pandas as pd
df_1 = pd.read_csv("1000_BookDetails.csv")
df_2 = pd.read_csv("EachBookDetail.csv")

In [3]:
df_1.head()

,title,rating,availability,book_price,book_link,img_link
0,A Light in the Attic,Three,In stock,£51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com//media/cache/2c/da/...
1,Tipping the Velvet,One,In stock,£53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com//media/cache/26/0c/...
2,Soumission,One,In stock,£50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com//media/cache/3e/ef/...
3,Sharp Objects,Four,In stock,£47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com//media/cache/32/51/...
4,Sapiens: A Brief History of Humankind,Five,In stock,£54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com//media/cache/be/a5/...

In [5]:
df_2.tail()

,Category,UDC,price_ex_tax,price_in_tax,tax,quantity,reviews
995,Classics,cd2a2a70dd5d176d,55.53,55.53,0.0,In stock (1 available),0
996,Sequential Art,bfd5e1701c862ac3,57.06,57.06,0.0,In stock (1 available),0
997,Historical Fiction,19fec36a1dfb4c16,16.97,16.97,0.0,In stock (1 available),0
998,Mystery,f684a82adc49f011,53.98,53.98,0.0,In stock (1 available),0
999,Travel,228ba5e7577e1d49,26.08,26.08,0.0,In stock (1 available),0

In [21]:
df_1.shape

(1000, 6)

In [22]:
df_2.shape

(1000, 7)

In [17]:
# We can observe that all values in tax column is 0
df_2['tax'].value_counts()

0.0    1000
Name: tax, dtype: int64

In [8]:
# We can observe that both columns are same in df_2 which is equal to book_price in df_1
df_2[df_2['price_ex_tax'] != df_2['price_in_tax']]

Empty DataFrame
Columns: [Category, UDC, price_ex_tax, price_in_tax, tax, quantity, reviews]
Index: []

In [20]:
# We can observe that there are no reviews for any book therefore we will not be adding review column
df_2['reviews'].value_counts()

0    1000
Name: reviews, dtype: int64

### Creating new DataFrame

In [9]:
# Creating a new dataframe
df = pd.DataFrame()

In [24]:
df['title']        = df_1['title']
df['category']     = df_2["Category"]
df['book_price']   = df_1['book_price']
df['availability'] = df_1['availability']
df['quantity']     = df_2['quantity']
df['rating']       = df_1['rating']
df['UDC']          = df_2['UDC']
df['book_link']    = df_1['book_link']
df['img_link']     = df_1['img_link']

In [26]:
# We can observe that all listed books are in-stock
df[df['availability'] != 'In stock']

Empty DataFrame
Columns: [title, category, book_price, availability, quantity, rating, UDC, book_link, img_link]
Index: []

In [36]:
df = df.drop('availability',axis=1)

In [37]:
df.shape

(1000, 8)

In [38]:
df.to_csv("Combined_BookData.csv",index=False)

In [39]:
df.head()

,title,category,book_price,quantity,rating,UDC,book_link,img_link
0,A Light in the Attic,Poetry,£51.77,In stock (22 available),Three,a897fe39b1053632,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com//media/cache/2c/da/...
1,Tipping the Velvet,Historical Fiction,£53.74,In stock (20 available),One,90fa61229261140a,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com//media/cache/26/0c/...
2,Soumission,Fiction,£50.10,In stock (20 available),One,6957f44c3847a760,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com//media/cache/3e/ef/...
3,Sharp Objects,Mystery,£47.82,In stock (20 available),Four,e00eb4fd7b871a48,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com//media/cache/32/51/...
4,Sapiens: A Brief History of Humankind,History,£54.23,In stock (20 available),Five,4165285e1663650f,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com//media/cache/be/a5/...