### Pandas

In [1]:
import numpy as np
import pandas as pd

### 1. Working with Pandas Series
#### a) Creating Series
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

In [2]:
pd.__version__

'1.5.3'

Series through list

In [3]:
lst = [1,2,3,4,5]
pd.Series(lst) # Index:  Elements

0    1
1    2
2    3
3    4
4    5
dtype: int64

Series through Numpy array

In [4]:
arr = np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Giving index from our own end

In [5]:
pd.Series(index=['Isha','Jaha','Chavvi','Mira'],data=[1,2,3,4])

Isha      1
Jaha      2
Chavvi    3
Mira      4
dtype: int64

Series through Dictionary values

In [6]:
steps = {'day_1':4000,'day_2':3000,'day_3':10000}
pd.Series(steps)

day_1     4000
day_2     3000
day_3    10000
dtype: int64

#### Using repeat function along with creating a Series
- Pandas Series.repeat() function repeat elements of a Series. It returns a new Series where each element of the current Series is repeated consecutively a given number of times.

In [7]:
pd.Series(5).repeat(7) # Since it is repeating itself index is same

0    5
0    5
0    5
0    5
0    5
0    5
0    5
dtype: int64

we can use the reset function to make the index accurate

In [8]:
pd.Series(5).repeat(3).reset_index(drop=True)

0    5
1    5
2    5
dtype: int64

This code indicates:
- 10 should be repeated 5 times
- 20 should be repeated 2 times

In [9]:
s= pd.Series([10,20]).repeat([5,2]).reset_index(drop=True)
s

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64

Accessing Elements

In [10]:
s[0] # Element at index=0

10

In [11]:
s[5] # Returns element at index=5

20

In [12]:
s[1:4] # Slicing

1    10
2    10
3    10
dtype: int64

In [13]:
s[1:-1] # Remove 1st and last index

1    10
2    10
3    10
4    10
5    20
dtype: int64

### b) Aggregate function on pandas Series
Pandas Series.aggregate() function aggregate using one or more operations over the specified axis in the given series objec

In [15]:
sr = pd.Series([1,2,3,4,5,6,7])
sr.agg([min,max,sum])

min     1
max     7
sum    28
dtype: int64

### c) Series absolute function
Pandas Series.abs() method is used to get the absolute numeric value of each element in Series/DataFrame.

In [17]:
sr = pd.Series([1,-2,3,-4,5,-6,7])
sr.abs()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

### d) Appending Series
* Pandas Series.append() function is used to concatenate two or more series object.

* Syntax: Series.append(to_append, ignore_index=False, verify_integrity=False)

* Parameter : to_append : Series or list/tuple of Series ignore_index : If True, do not use the index labels. verify_integrity : If True, raise Exception on creating index with duplicates

In [20]:
sr1 = pd.Series([1,-2,3,-4,5,-6,7])
sr2 = pd.Series([1,2,3,4,5,6,7])
sr1.append(sr2)

/var/folders/cy/hd9k90656lx_zrdft5_wmllh0000gn/T/ipykernel_16682/112994504.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sr1.append(sr2)

0    1
1   -2
2    3
3   -4
4    5
5   -6
6    7
0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [22]:
sr3 = sr2.append(sr1) # indexes are also returned as it is

/var/folders/cy/hd9k90656lx_zrdft5_wmllh0000gn/T/ipykernel_16682/1650932229.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sr3 = sr2.append(sr1) # indexes are also returned as it is

In [23]:
# To make the series accurate
sr3.reset_index(drop=True)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     1
8    -2
9     3
10   -4
11    5
12   -6
13    7
dtype: int64

### e) Astype function
Pandas astype() is the one of the most important methods. It is used to change data type of a series. When data frame is made from a csv file, the columns are imported and data type is set automatically which many times is not what it actually should have

In [24]:
sr1

0    1
1   -2
2    3
3   -4
4    5
5   -6
6    7
dtype: int64

In [25]:
type(sr1)

pandas.core.series.Series

In [26]:
# Converting to different type
sr1.astype("float")

0    1.0
1   -2.0
2    3.0
3   -4.0
4    5.0
5   -6.0
6    7.0
dtype: float64

### f) Between Function
Pandas between() method is used on series to check which values lie between first and second argumen

In [29]:
sr1 = pd.Series([1,2,30,4,5,6,7,8,9,20])
sr1

0     1
1     2
2    30
3     4
4     5
5     6
6     7
7     8
8     9
9    20
dtype: int64

In [30]:
sr1.between(10,50) # Returns true for value that lie in the specific range

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

### g) All strings functions can be used to extract or modify texts in a series
 
-  Upper and Lower Function
-  Len function
-  Strip Function
-  Split Function
-  Contains Function
-  Replace Function
-  Count Function
-  Startswith and Endswith Function
-  Find Finction

In [31]:
sr = pd.Series(["Data Science","ML","DevOps","AI","NLP","DL"])

#### Upper and Lower Case

In [36]:
print(sr.str.upper())
print('-'*20)
print(sr.str.lower())

0    DATA SCIENCE
1              ML
2          DEVOPS
3              AI
4             NLP
5              DL
dtype: object
--------------------
0    data science
1              ml
2          devops
3              ai
4             nlp
5              dl
dtype: object

#### Length Function

In [37]:
for i in sr:
    print(len(i))

12
2
6
2
3
2

#### Strip Function

In [38]:
sr = pd.Series(["  Data Science",  "ML "," DevOps"  ,  "AI"," NLP ","DL"])
for i in sr:
    print(i,len(i))

  Data Science 14
ML  3
 DevOps 7
AI 2
 NLP  5
DL 2

In [40]:
# Removing extra spaces
sr = sr.str.strip()
for i in sr:
    print(i,len(i))

Data Science 12
ML 2
DevOps 6
AI 2
NLP 3
DL 2

### Split Function

In [43]:
# Splitting string wrt spaces
sr.str.split()[0]

['Data', 'Science']

In [47]:
print(["Date","Month","Year"])
print(pd.Series(['11/10/2000','25/12/2002','10/10/1910']).str.split('/')[0])
print(pd.Series(['11/10/2000','25/12/2002','10/10/1910']).str.split('/')[1])
print(pd.Series(['11/10/2000','25/12/2002','10/10/1910']).str.split('/')[2])

['Date', 'Month', 'Year']
['11', '10', '2000']
['25', '12', '2002']
['10', '10', '1910']

### h) Converting a Series to List
Pandas tolist() is used to convert a series to list. Initially the series is of type pandas.core.series.

### 2. Detailed Coding Implementations on Pandas DataFrame
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

#### a) Creating Data Frames
- In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. Dataframe can be created in different ways here are some ways by which we create a dataframe:

- Creating a dataframe using List:
DataFrame can be created using a single list or a list of lists.

#### Creating DataFrame from dict of ndarray/lists:
To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

- A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.
- Column Selection: In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

### b) Slicing in DataFrames Using iloc and loc
Pandas comprises many methods for its proper functioning. loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame in Python. They are used in filtering the data according to some conditions.

#### Basic loc Operations
Python loc() function The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method like

#### Basic iloc Operations
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

### c) Slicing Using Conditions
Using Conditions works with loc basically

* So we could extract only those data for which the value is more than 20
* For the columns we have used comma(,) to extract specifc columns which is 'three' and 'four' <br>
Let's see another example