In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("googleplaystore.csv")
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### Removing Null Value Rows

In [3]:
data.isnull()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,False,False,False,False,False,False,False,False,False,False,False,False,False
10837,False,False,False,False,False,False,False,False,False,False,False,False,False
10838,False,False,True,False,False,False,False,False,False,False,False,False,False
10839,False,False,False,False,False,False,False,False,False,False,False,False,False
10840,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
# Checking Null values
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [9]:
# Dropping all rows having null values
df = data.dropna()
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [10]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

### Data Analysis - Numeric
Analysing columns having numeric data

#### Q1. Finding the average rating

In [12]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10834    4.0
10836    4.5
10837    5.0
10839    4.5
10840    4.5
Name: Rating, Length: 9360, dtype: float64

In [34]:
# Take 1st 4 characters convert into float
print("Average Rating of Apps is :",float(str(int(sum(df['Rating']))/len(df['Rating']))[:4]))

Average Rating of Apps is : 4.19

In [29]:
s = 0
for i in df['Rating']:
    # Sum of all the ratings
    s+=i
s = int(s)
    # Average of all ratings
print(s/len(df['Rating']))

4.191773504273504

In [26]:
float(str(int(sum(df['Rating']))/len(df['Rating']))[:4])

4.19

#### Q2. How many apps are there with rating 5?

In [35]:
c = 0
for i in df['Rating']:
    if(i==5.0):
       c+=1
print("There are ",c," apps with rating 5.0")

There are  274  apps with rating 5.0

In [37]:
print(df['Rating'].max())
print(df['Rating'].min())

5.0
1.0

In [43]:
a = 0
b = 0
c = 0
d = 0
e = 0
for i in df['Rating']:
    if(i==5.0):
        a+=1
    elif(i>=4.0 and i<5.0):
        b+=1
    elif(i>=3.0 and i<4.0):
        c+=1
    elif(i>=2.0 and i<3.0):
        d+=1
    elif(i>=1.0 and i<2.0):
        e+=1
print("There are ",a," apps having rating 5.0")
print("There are ",b," apps having rating >=4.0 and <5.0")
print("There are ",c," apps having rating >=3.0 and <4.0")
print("There are ",d," apps having rating >=2.0 and <3.0")
print("There are ",e," apps having rating >=1.0 and <2.0")
print('Total no of rating:',(a+b+c+d+e))

There are  274  apps having rating 5.0
There are  7089  apps having rating >=4.0 and <5.0
There are  1710  apps having rating >=3.0 and <4.0
There are  231  apps having rating >=2.0 and <3.0
There are  56  apps having rating >=1.0 and <2.0
Total no of rating: 9360

#### Q3 What is the average no. of reviews?

In [48]:
df['Reviews']

0           159
1           967
2         87510
3        215644
4           967
          ...
10834         7
10836        38
10837         4
10839       114
10840    398307
Name: Reviews, Length: 9360, dtype: object

In [51]:
c = 0
for i in df['Reviews']:
    c+=int(i)
# Average no. of reviews
print(int(c/len(df['Reviews'])))

514376

### Data Analysis : Categorical

In [52]:
df['Category']

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10834                 FAMILY
10836                 FAMILY
10837                 FAMILY
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 9360, dtype: object

In [54]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [55]:
for i in df['Category'].unique():
    print(i)

ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION

#### Q1. Total no. of categories

In [58]:
print("There are total ",len(df['Category'].unique())," categories.")

There are total  33  categories.

#### Q2. Total apps in ART_AND_DESIGN

In [59]:
c = 0
for i in df['Category']:
    if(i=='ART_AND_DESIGN'):
        c+=1
print('There are total ',c,'applications in ART_AND_DESIGN')

There are total  61 applications in ART_AND_DESIGN

In [61]:
df['Category'].value_counts()

Category
FAMILY                 1746
GAME                   1097
TOOLS                   733
PRODUCTIVITY            351
MEDICAL                 350
COMMUNICATION           328
FINANCE                 323
SPORTS                  319
PHOTOGRAPHY             317
LIFESTYLE               314
PERSONALIZATION         312
BUSINESS                303
HEALTH_AND_FITNESS      297
SOCIAL                  259
SHOPPING                238
NEWS_AND_MAGAZINES      233
TRAVEL_AND_LOCAL        226
DATING                  195
BOOKS_AND_REFERENCE     178
VIDEO_PLAYERS           160
EDUCATION               155
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     124
FOOD_AND_DRINK          109
HOUSE_AND_HOME           76
WEATHER                  75
AUTO_AND_VEHICLES        73
LIBRARIES_AND_DEMO       64
ART_AND_DESIGN           61
COMICS                   58
PARENTING                50
EVENTS                   45
BEAUTY                   42
Name: count, dtype: int64

In [62]:
df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [74]:
f = 0
p = 0
for i in df['Type']:
    if(i=='Free'):
        f+=1
    elif(i=='Paid'):
        p+=1
# App types count
print("There are ",f,"free",end=' ')
print("and ",p,"paid applications")
# Percentage of free and paid apps
print("Percentage of paid applications:",(p/(f+p)*100))
print("There are ",(f/(f+p)*100)," free applications.")

There are  8715 free and  645 paid applications
Percentage of paid applications: 6.891025641025641
There are  93.10897435897436  free applications.

#### Q. Name all the content ratings

In [75]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [78]:
for i in df['Content Rating'].unique():
    print(i)

Everyone
Teen
Everyone 10+
Mature 17+
Adults only 18+
Unrated

In [79]:
df['Content Rating'].value_counts()

Content Rating
Everyone           7414
Teen               1084
Mature 17+          461
Everyone 10+        397
Adults only 18+       3
Unrated               1
Name: count, dtype: int64