In [11]:
import pandas as pd
import requests
from tqdm import tqdm

df = pd.read_csv("Netlify stock pictures.csv")
df.head()

,link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Atmosphere, Clouds, Sky, Blue Sky",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Subtropical Sea, Rainbow, Rainfall,",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Japan, Sakura Blossoms, Road,",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Marguerite, Plant Flower, Cape",39,15

### 1. Downloading an Image

In [12]:
link = df['link'][0]

In [13]:
res = requests.get(link)

In [14]:
fd = open('Img.png','wb')
fd.write(res.content)
fd.close

### Downloading all images

In [15]:
path = []
for link in tqdm(df['link']):
    res = requests.get(link)
    fd  = open('images/'+link.split('/')[-1],'wb')
    fd.write(res.content)
    fd.close()
    
    path.append('images/'+link.split('/')[-1])

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 243/243 [04:54<00:00,  1.21s/it]

In [19]:
df['path'] = path

In [20]:
df.head()

,link,tags,likes,comments,path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Atmosphere, Clouds, Sky, Blue Sky",196,55,images/clouds-7050884__480.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20,images/bird-7117346__340.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Subtropical Sea, Rainbow, Rainfall,",282,106,images/sea-7039471__340.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Japan, Sakura Blossoms, Road,",42,11,images/cherry-blossoms-7110279__340.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Marguerite, Plant Flower, Cape",39,15,images/cape-marguerite-7121992__340.jpg

In [21]:
df.to_csv('Images.csv',index=False)