In [158]:
import os
import pandas as pd
# Help to copy and paste the files
from shutil import copyfile as copy

df = pd.read_csv("Images.csv")

In [159]:
df.head()

,link,tags,likes,comments,path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Atmosphere, Clouds, Sky, Blue Sky",196,55,images/clouds-7050884__480.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20,images/bird-7117346__340.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Subtropical Sea, Rainbow, Rainfall,",282,106,images/sea-7039471__340.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Japan, Sakura Blossoms, Road,",42,11,images/cherry-blossoms-7110279__340.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Marguerite, Plant Flower, Cape",39,15,images/cape-marguerite-7121992__340.jpg

In [160]:
df.shape

(243, 5)

### 1. Removing Unnecesaary Columns

In [161]:
del df['link']
del df['likes']
del df['comments']
df.head()

,tags,path
0,"Atmosphere, Clouds, Sky, Blue Sky",images/clouds-7050884__480.jpg
1,"Bird, Ornithology, Hummingbird",images/bird-7117346__340.jpg
2,"Subtropical Sea, Rainbow, Rainfall,",images/sea-7039471__340.jpg
3,"Cherry Japan, Sakura Blossoms, Road,",images/cherry-blossoms-7110279__340.jpg
4,"Marguerite, Plant Flower, Cape",images/cape-marguerite-7121992__340.jpg

### 2. Finding all the tags

In [162]:
t = []

for tags in df['tags']:
    
    t += [tag.strip() for tag in tags.split(',')]

tags = list(set(t))
print(len(tags))

535

### 3.Creating folders for each Tag

In [165]:
import re

for tag in tqdm(tags[1:]):
    cleaned_tag = re.sub(r'[\/:*?"<>|]', '', tag.strip())
    try:
        os.mkdir('Dataset/' + cleaned_tag)
    except:
        pass

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 2241.15it/s]

### 4. Saving images in Specific Folders

In [169]:
error = 0
for data in tqdm(df.values):
    tags = data[0]
    src = data[1]
    for tag in tags.split(','):
        cleaned_tag = re.sub(r'[\/:*?"<>|]', '', tag.strip())
        dst = 'Dataset/' + cleaned_tag + '/' + src.split('/')[-1]
        try:
            os.makedirs('Dataset/' + cleaned_tag, exist_ok=True)
            copy(src, dst)
        except:
            error += 1

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 243/243 [00:00<00:00, 630.53it/s]

### 5. Checking number of Folders

In [170]:
folders = os.listdir('Dataset')
print(len(folders))

676

### 6. Checking number of images in Each Folder

In [171]:
for folder in folders[:10]:
    print(folder,len(os.listdir('Dataset/'+folder)))

Sunset Meadow 1
Spring Flowers 1

NotADirectoryError: [Errno 20] Not a directory: 'Dataset/arch-6356637__340.jpg'

 ### 7. Top 10 Folders with most number of images

### 8. Top 10 Folders with least number of images

### 9. Removing the Folders with less than 20 images