In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df=sns.load_dataset("mpg")

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
#Skewness
df["mpg"].skew()

0.45706634399491913

In [6]:
df.skew()

/var/folders/cy/hd9k90656lx_zrdft5_wmllh0000gn/T/ipykernel_63596/1665899112.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

mpg             0.457066
cylinders       0.526922
displacement    0.719645
horsepower      1.087326
weight          0.531063
acceleration    0.278777
model_year      0.011535
dtype: float64

In [9]:
#Decrease skewness of column "horsepower"
df["horsepower_new"]= df["horsepower"] **(1/2)

In [10]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_new
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,11.401754
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,12.845233

In [11]:
df["horsepower_new"].skew()

0.7327195325530649

In [12]:
 #Kurtosis
df.kurtosis()

/var/folders/cy/hd9k90656lx_zrdft5_wmllh0000gn/T/ipykernel_63596/2189073882.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.kurtosis()

mpg              -0.510781
cylinders        -1.376662
displacement     -0.746597
horsepower        0.696947
weight           -0.785529
acceleration      0.419497
model_year       -1.181232
horsepower_new   -0.044641
dtype: float64