In [22]:
import requests
import pandas as pd
from tqdm import tqdm
df = pd.read_csv("ImagesData.csv")
df.head()

,img_link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"(' Blue Sky', ' Sky', ' Atmosphere', 'Clouds')",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"(' Hummingbird', ' Ornithology', 'Bird')",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"(' Rainbow', ' Rainfall', ' Subtropical', 'Sea')",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"(' Japan', ' Road', 'Cherry Blossoms', ' Sakura')",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"(' Flower', ' Plant', 'Cape Marguerite')",39,15

### Defining Dynamic Name

In [9]:
df['img_link'][0].split('/')[-1]

'clouds-7050884__480.jpg'

In [5]:
res = requests.get('https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg')

In [7]:
fd = open('img.jpg','wb')
fd.write(res.content)
fd.close()

In [14]:
# Generating img name : img0000001, img0000002, ....
ref = 10000000
for i in range(1,11):
    print('img'+str(i+ref)[1:])

img0000001
img0000002
img0000003
img0000004
img0000005
img0000006
img0000007
img0000008
img0000009
img0000010

### Defining image Downloader function

In [17]:
def download(link,img_path):
    # Sending the request
    res = requests.get(link) 
    # Getting the image in wb format
    fd = open(img_path,'wb')
    # Saving the image
    fd.write(res.content)
    fd.close()

In [18]:
download('https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg','img.png')

### Download all images

In [23]:
paths = []
img_ids = []
ref = 10000000
i   = 1
for link in tqdm(df['img_link']):
    # Creating img_id
    img_id = 'img'+str(i+ref)[1:]
    i +=1
    # Creating img_path
    img_path = 'images/' + img_id + '.jpg'
    # Downloading the image
    download(link,img_path)   
    
    paths.append(img_path)
    img_ids.append(img_id)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 146/146 [01:31<00:00,  1.60it/s]

### Saving Ids and paths in DataFrame

In [25]:
df['img_path'] = paths
df['img_id']   = img_ids
df.head()

,img_link,tags,likes,comments,img_path,img_id
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"(' Blue Sky', ' Sky', ' Atmosphere', 'Clouds')",196,55,images/img0000001.jpg,img0000001
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"(' Hummingbird', ' Ornithology', 'Bird')",76,20,images/img0000002.jpg,img0000002
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"(' Rainbow', ' Rainfall', ' Subtropical', 'Sea')",282,106,images/img0000003.jpg,img0000003
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"(' Japan', ' Road', 'Cherry Blossoms', ' Sakura')",42,11,images/img0000004.jpg,img0000004
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"(' Flower', ' Plant', 'Cape Marguerite')",39,15,images/img0000005.jpg,img0000005

### Saving Final Dataset

In [27]:
df.to_csv('Images.csv',index=False)

In [28]:
df.isna().sum()

img_link    0
tags        0
likes       0
comments    0
img_path    0
img_id      0
dtype: int64